<!DOCTYPE html>
<html>
<head>
	<title>Sirs Airlines-Ready To Fly</title>
	<link rel="stylesheet" type="text/css" href="page.css">
</head>
<body class="container">
	 <nav class="nav">
		<a href="index.html" class="nav-link">Back</a>
		
		<a href="Login.html" class="nav-linked">Log In</a>
		<div class="ims"><img src="images/icons8-customer-24.png" alt="home"></div>
	</nav>

    <div class="hs">

     	<h4> Travel Support</h4>

    	<h1>Our current network and services</h1>

   		<h3 class="int"> Search for a specific route to find out everything you need to know about travelling to your destination, including entry requirements, safety precautions, and our current services.</h2>
    
    </div>
    	<form class="hw">
          	<input type="text"  class="form-controls" placeholder="TakeOffPoint" name="takeOffPoint" id="to"  required >
			<input type="text"  class="form-controls" placeholder="DestinationPoint" name="destinationPoint" id="to" required>
                <select name="class" class="form-controls" id="to" >
            	   <option value="">-- Select Class --</option>
                   <option value="Economy class">Economy Class</option>
                   <option value="Business Class">Business Class</option>
                   <option value="First Class">First Class</option>
                </select> 
				 <button type="submit"class="cos" > Search </button>	
		</form>   
    </div>

    <div class="ans">
    	<img src="images/cabin-crew-on-board-wearing-ppe-d600x400.jpg" alt="home" id="ans">
    	<div class="frm">
    	<h2 id="pt"><a href="#" id="am">Sirs-Airlines puts health and safety first</a></h2>
    	<p id="ps"><a href="#" id="am">Find out how we’re keeping you safe and protected at every step of your journey with us.</a></p>
    	</div>
    </div>

    <div class="ok">
    <div class="again">
        <h2 id="ehn">Our current routes</h2>
        <p id="oin">Check the list to see the destinations we’re currently flying to. If you’re looking to fly into Dubai, you can check our latest routes and travel information here.</p>
    </div>
    </div>
   
</body>
</html>