<!DOCTYPE html>
<html>
<head>
	<title>Search Flights</title>
	<link rel="stylesheet" type="text/css" href="page.css">
</head>
<body>
	<nav class="nav">
		<a href="index.html" class="navlinked"><b> Back </b></a>
   		<a href="Signup.html" class="navlink"> <b> Sirs AirLines</b></a>
	</nav>

	<h3 class="fl">Book Flight</h3> 
     
    <div class="fk">
    	<img src="images/50160dad8923700567bade1f51a3b35f--buttons-awesome.jpg" alt="home" id="ir"> 
    	<div id="kit">
     	<h6 class="la">Log in to your Emirates account</h6>
     	<p class="us"> Use your saved information to book flights and redeem rewards.</p>
     	</div>
     	<div class="buy">
     	<a href="Signup.html" class="buk">Join now</a>
     	</div>
    </div>

    <div class="wh"><h3> Where And When </h3></div>

    

    <form class="coln">
    	 
        <div class="row">
	       		<div class="col">
					<input type="text" placeholder="First name" name="uname"  required class="form-control">
				</div>

				<div class="col">
					<input type="text" placeholder="Last name" name="uname"  required  class="form-control">
				</div>
		</div>

		<div class="row">
	       		<div class="col">
					<input type="text" placeholder="First name" name="uname"  required  class="form-control">

				<div class="col">
					<input type="text" placeholder="Last name" name="uname"  required  class="form-control">
				</div>
		</div>
        <div class="row">
	       		<div class="col">
					<input type="text" placeholder="First name" name="uname"  required   class="form-control">
				</div>

				<div class="col">
					<input type="text" placeholder="Last name" name="uname"  required  class="form-control">
				</div>
	    </div>
       <div class="row">
	       		<div class="col">
					<input type="text" placeholder="First name" name="uname"  required  class="form-control">
				</div>

				<div class="col">
					<input type="text" placeholder="Last name" name="uname"  required class="form-control">
				</div>
		</div>


    </form>

</body>
</html>