<!DOCTYPE html>
<html>
<head>
	<title>Sirs-LOG IN</title>
	<link rel="stylesheet" type="text/css" href="page.css">
</head>
<body class="container">
	<nav class="nav">
		<a href="index.html" class="navlinked"><b> Back </b></a>
   		<a href="Signup.html" class="navlink"> <b> Sirs AirLines </b></a>
	</nav>

	<h3 class="hd">Log in To Sirs</h3>
	<p class="int"><b> Earn Miles every time you fly with us and our partners. And spend your Skywards Miles on a world of rewards.</b></p>

	<div class="form">

		<h4>Login</h4>
		<form id="login-form">

			<div>

				<input type="text" placeholder="Email or SIRS number" name="uname" required  class="form-control">

			    <input type="password" placeholder="Passwword" name="pass" required  class="form-control">
	        </div>

	        <button type="button" onclick="" class="but"> Login </button>

	        <div class="check">
		        <label>
	                <input type="checkbox" checked="checked" name="remember"> keep me logged in on this device
	            </label>
            </div>

        </form>
       
	</div>

	<div class="bot">

        	<h6>Not a member of SIRS Airline yet?</h6>
        	
        	<p class="bots">
        		Register now to make the most of every mile with <br>
        		<a href="Signup.html" class="nav-link"> sirs arlines </a>
        	</p>

            <a href="Signup.html" class="buk">Join now</a>
  
        </div>

</body>
</html>