<!DOCTYPE html>
<html>
<head>
	<title> SIRS-Sign Up</title>
	<link rel="stylesheet" type="text/css" href="page.css">
</head>
<body class="container">
	<nav class="navs">
		<a href="Login.html" class="navlinked"><b> Back </b></a>
   		<a href="Flights.html" class="navlink"><b> Search Flights </b></a>
	</nav>
	<p class="ba"><b> Loyalty </b></p>
	<h2 class="hs"> Join SIRS- Airlines Now</h2>
	<p class="ins"><b>Open up a world of rewards every time you travel. Enjoy reward flights, upgrades, exclusive benefits and more.</b></p>
    </div>
    <div class="forms">
    	<form class="logins">
    		 
    		<input type="text" placeholder="SIRS-Airlines membership number (optional)" name="uname" required  class="form-control">
            
    		<p class="aim">Already have an Emirates Skywards membership number?</p>
            <select name="gender" class="form-control">
            	<option value="">-- Select Title --</option>
                <option value="Mr">Mr</option>
                <option>Ms</option>
                <option>Miss</option>
                <option>Miss</option>
             </select> 

            <div class="row">
	       		<div class="col">
					<input type="text" placeholder="First name" name="uname"  required  class="form-control">
				</div>

				<div class="col">
					<input type="text" placeholder="Last name" name="uname"  required  class="form-control">
				</div>
			</div>

			<input type="date" placeholder="Date of birth" name="uname" required  class="form-control">

			<input type="text" placeholder="Country" name="uname" required  class="form-control">

			<input type="text" placeholder="Phone number" name="uname" required  class="form-control">

		    <input type="text" placeholder="Email" name="uname" required  class="form-control">

			<input type="password" placeholder="Password" name="uname" required  class="form-control">

			<button type="button" onclick="" class="bum"> Create Account </button>
    	</form>

    	<div class="ig">
    		<img src="images/image001.jpg" alt="home" id="im"> 
    	</div>
  
        <div class="is">
        	<h2 id="ik">Change the way you see the world</h2>
        	<p  id="ad"> It costs nothing to join - just complete this application form and start enjoying the benefits. It's easy to earn Skywards Miles and even more rewarding to spend them.</p>
    	</div>
    	
    </div>
</body>
</html>